@model Cinema

@{
    ViewData["Title"] = "Add new cinema";
}

<div style="background-color: #18122B">
    <div class="row text">
        <div class="col-md-8 offset-2 text-white" stylr="background-color: #18122B">
            <p>
                <h1>
                    Update Cinema
                </h1>
            </p>
            <div class="col-md-8 offset-2 text-white" style="background-color: #18122B">
                <form asp-action="Create">  
                    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                    <div class="form-group text-center">
                        <img id="LogoPreview" />
                    </div>
                    <div class=" form-group text-white">
                        <label asp-for="Logo" class="control-label"></label>
                        <input asp-for="Logo" class="form-control" />
                        <span asp-validation-for="Logo" class="text-dandger"></span>

                    </div>
                    <div class=" form-group text-white" style="background-color: #18122B">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-dandger"></span>

                    </div>
                    <div class=" form-group text-white" style="background-color: #18122B">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-dandger"></span>

                    </div>

                    <div class="form-group text-white" style="background-color: #18122B">
                        <input type="submit" value="Add" class="btn btn-outline-success float-end" style="margin-top:5px" />
                        <a class="btn btn-outline-secondary" asp-action="Index" style="margin-top:5px">Show All</a>

                    </div>
                </form>
                
            </div>
        </div>
     </div>
</div>

@section Scripts{
    <script>
        
        $(document).ready(function)(){
            var output = document.getElementById('LogoPreview');
            output.src = $("#Logo").val();
        })

        $("#Logo").om("change", function (){
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        });
    </script>
}