@using MovieTicket.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Login into your account";
}

<div class="row">
    <div class="col-md-6 offset-3 text-white">
        <p>
            <h4>Log into your account</h4>
        </p>
        <div class = "row ">
            @if(TempData["Error"] != null){
                <div class="col-md-12 alert alert-danger text-white" style="background-color:#4C3575;">
                    <span><b>Sorry</b> - @TempData["Error"]</span>
                </div>
            }
            <div class="row">
            <div class = "col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class = "text-white text-danger"></div>

                      <div class="form-group text-white">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group text-white">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                     <div class="form-group text-white">
                        <input class="btn btn-outline-success float-end" type="submit" value="Log in" style = "margin-top: 5px"/>
                        <a class="btn btn-outline-secondary float-start" asp-controller="Movies" asp-action="Index" style = "margin-top: 5px">Cancel</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>